# Java
*.class

# Eclipse
.classpath
.project
.settings/

# Compilación
bin/
target/
out/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*final*privado*
*privado*
